ALCHEMY_API_KEY=REEMPLAZAR_CON_TU_KEY
ALCHEMY_NETWORK=eth-mainnet
FLASH_LOAN_CONTRACT=0x87870Bca3F3fD6335C3F4ce8392D69350B4fA4E2
BLOCK_WINDOW=5000
TOP_INITIATORS=5
LOG_CHUNK_BLOCKS=10
MAX_LOOKBACK_WINDOWS=3
#FROM_BLOCK=
#TO_BLOCK=
