ALCHEMY_API_KEY=REEMPLAZAR_CON_TU_KEY
ALCHEMY_NETWORK=eth-mainnet
FLASH_LOAN_CONTRACT=0x87870Bca3F3fD6335C3F4ce8392D69350B4fA4E2
BLOCK_WINDOW=5000
TOP_INITIATORS=5
LOG_CHUNK_BLOCKS=10
MAX_LOOKBACK_WINDOWS=3 # o "none" para continuar hasta el bloque génesis
PROGRESS_FILE=.flashloan-progress.json
RESUME_FROM_PROGRESS=false
FLASHLOAN_EVENTS_FILE=data/flashloan-events.json
TRACE_RPC_URL=
TRACE_RPC_METHOD=trace_transaction
#TRACE_RPC_FALLBACK_METHOD=
#TRACE_RPC_HEADER_NAME=X-Access-Key
#TRACE_RPC_HEADER_VALUE=REEMPLAZAR_CON_ACCESS_KEY
#TRACE_RPC_HEADERS_JSON=
#FROM_BLOCK=
#TO_BLOCK=
